rollingstone-ecommerce-cqrs-todo-command-consumer/bin/
rollingstone-ecommerce-cqrs-todo-command-consumer/gradle/
rollingstone-ecommerce-cqrs-todo-command-consumer/.gradle/
rollingstone-ecommerce-cqrs-todo-command-consumer/.settings/

rollingstone-ecommerce-cqrs-todo-command-consumer/gradlew
rollingstone-ecommerce-cqrs-todo-command-consumer/gradlew.bat
rollingstone-ecommerce-cqrs-todo-command-consumer/HELP.md
rollingstone-ecommerce-cqrs-todo-command-consumer/settings.gradle
rollingstone-ecommerce-cqrs-todo-command-consumer/.classpath
rollingstone-ecommerce-cqrs-todo-command-consumer/.gitignore
rollingstone-ecommerce-cqrs-todo-command-consumer/.project


rollingstone-ecommerce-cqrs-todo-rest-api/bin/
rollingstone-ecommerce-cqrs-todo-rest-api/gradle/
rollingstone-ecommerce-cqrs-todo-rest-api/.gradle/
rollingstone-ecommerce-cqrs-todo-rest-api/.settings/

rollingstone-ecommerce-cqrs-todo-rest-api/gradlew
rollingstone-ecommerce-cqrs-todo-rest-api/gradlew.bat
rollingstone-ecommerce-cqrs-todo-rest-api/HELP.md
rollingstone-ecommerce-cqrs-todo-rest-api/settings.gradle
rollingstone-ecommerce-cqrs-todo-rest-api/.classpath
rollingstone-ecommerce-cqrs-todo-rest-api/.gitignore
rollingstone-ecommerce-cqrs-todo-rest-api/.project


.metadata/
.git/


